[http]
    sslverify = true
[oh-my-zsh]
    hide-status = 1
    hide-dirty = 1
[push]
    default = current
[branch]
    autosetuprebase = always
[pull]
    rebase = true
[color]
    diff = auto
    branch = auto
    interactive = auto
    status = auto
[core]
    autocrlf = input
    fileMode = false
    editor = hx
    pager = delta
[user]
    name = sbp
    email = sbp@impero.com
    signingkey = ~/.ssh/commit_rsa.pub
[interactive]
    diffFilter = delta --color-only
[delta]
    features = decorations
[rebase]
    autosquash = true
[commit]
    gpgsign = true
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.ssh/commit_rsa
[tag]
    gpgsign = true
